body{
    background-color: rgb(0, 54, 0);
    text-align:center;
    color: white;
}

#menu {
    margin:0 auto;
    width: max-content;
    padding: 20px;
}

button{
    color:grey;
    text-align:center;
    background:black;
}

.quoteBox {
    margin: 0 auto;
    color: black;
    background-color: white;
    border: solid black 2px;
    width:800px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.likesInput {
    width: 60px;
}

#error {
    color: red;
}
