body{
    background-color: rgb(0, 54, 0);
    text-align:center;
    color: white;
}

button{
    color:grey;
    text-align:center;
    background:black;
}

.quoteBox {
    color: black;
    background-color: beige;
    border: solid black 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.likesInput {
    width: 60px;
}

#error {
    color: red;
}
